body {
    
   
    background-color: rgb(13, 28, 13);
}
.mainContent {
    display: grid;
   
    grid-template-rows: 50% 25% 25%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "image image image image" "text text text text" "button1 button2 button3 button4";
}
.gameWindow {
    height: 500px;
    background-color: rgb(117, 117, 117);
    grid-area: image;

}
.typewriter {
    height: 90px;
    background-color: rgb(46, 46, 46);
    color: white;
    grid-area: text;
}
.button {
    
    color: rgb(143, 211, 143);
    background-color: rgb(49, 90, 59);
    height: 90px;
   
}
#button1{
grid-area:button1;
}
#button2{
grid-area:button2;
}
#button3{
grid-area:button3;
}
#button4{
grid-area:button4;
}